---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { getBlogs, getCategories } from "../../libs/client";

export async function getStaticPaths() {
  const response = await getCategories({ fields: ["id"] });
  return response.contents.map((content) => ({
    params: { id: content.id },
  }));
}

const { id } = Astro.params;
const blogs = await getBlogs({
  filters: `category[equals]${id}`,
});
---

<!-- ここから下はトップページと全く同じです。 -->
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ...略...
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            blogs.contents.map((blog) => (
              <li>
                <a href={`/blog/${blog.id}/`}>
                  <img
                    width={720}
                    height={360}
                    src={blog.eyecatch.url}
                    alt=""
                  />
                  <h4 class="title">{blog.title}</h4>
                  <p class="date">
                    <FormattedDate date={new Date(blog.publishedAt)} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>